.open-modal-edit-deck-form-container {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.open-modal-edit-deck-title-general {
    font-size: large;
}

.open-modal-edit-deck-title-name {
    font-size: xx-large;
}

.open-modal-edit-deck-input {
    border: 1px solid black;
    max-width: 300px;
    min-width: 300px;
    /* height: 10px; */
}
