.open-modal-edit-deck-form-container {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.open-modal-edit-deck-title-general {
    font-size: large;
}

.open-modal-edit-deck-title-name {
    font-size: xx-large;
    margin-bottom: 10px;
}

.open-modal-edit-deck-input {
    border: 1px solid black;
    width: 280px;
    margin-bottom: 10px;
}
