.study-deck-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.study-deck-page-deck {
    font-size: x-large;
    text-decoration: none;
}

.study-deck-page-title {
    border: 5px solid green;
    padding-right: 100px;
    padding-left: 100px;
}
