.study-deck-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.study-deck-page-deck-navLink {
    font-size: x-large;
    text-decoration: none;
}

.study-deck-page-deck {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    width: 200px;
    height: 100px;
    overflow: hidden;
    /* overflow: scroll; */
    padding: 5px;
}

.study-deck-page-deck-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 690px;
}

.study-deck-page-toggle-container {
    display: flex;
    width: 100vw;
}

.study-deck-page-toggle-selected {
    color: black;
    text-decoration: underline;
    font-size: x-large;
    font-weight: 100;
    cursor: pointer;
}

.study-deck-page-toggle-notSelected {
    color: gray;
    font-size: x-large;
    font-weight: 100;
    cursor: pointer;
}

.study-deck-page-cardDeck-buttons {
    margin-top: 5px;
    margin-left: 10px;
}
