.study-deck-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.study-deck-page-deck-navLink {
    font-size: x-large;
    text-decoration: none;
}

.study-deck-page-deck {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    width: 190px;
    height: 200px;
    overflow: hidden;
    padding: 10px;
    margin: 5px;

    /* background-color: lime; */
    /* -webkit-transition: color 10s;
    -moz-transition:    color 10s;
    -ms-transition:     color 10s;
    -o-transition:      color 10s; */
    transition: background-color 1s;
}
.study-deck-page-deck:hover {
    background-color: rgb(216, 173, 216);
}

.study-deck-page-deck-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 690px;
}

.study-deck-page-toggle-container {
    display: flex;
    width: 100vw;
}

.study-deck-page-toggle-selected {
    color: black;
    text-decoration: underline;
    font-size: x-large;
    font-weight: 100;
    cursor: pointer;
}

.study-deck-page-toggle-notSelected {
    color: gray;
    font-size: x-large;
    font-weight: 100;
    cursor: pointer;
}

.study-deck-page-cardDeck-buttons {
    margin-top: 5px;
    margin-left: 10px;
}

.study-deck-page-cards-container {
    margin: 5px;
}
