.cart-modal {
    background-color: white;
    border-left: 5px solid var(--shinanoMain);
    border-bottom: 5px solid var(--shinanoMain);
    width: 25vw;
    height: 95vh;
    position: fixed;
    right: 0;
    top: 8px;
    /* border-top-left-radius: 15px; */
    border-bottom-left-radius: 15px;
    overflow: auto;
    z-index: 100;
}

.cart-modal-button-container {
    display: flex;
    justify-content: center;
}

.cart-modal-button-margin {
    margin: 10px;
    margin-bottom: 15px;
}
