.karuta-main-text-poem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    height: 415px;
    width: 500px;
}

.karuta-main-text-line {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.karuta-main-text-emphasis {
    font-weight: bold;
    font-size: 15px;
}
