.karuta-card-poem-container {
    display: flex;
    flex-direction: column;
    border: 5px solid green;
    height: 200px;
    width: 150px;
}

.karuta-main-text-poem-container {
    border: 1px solid green;
    height: 415px;
}

.karuta-main-text-line {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}
