body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.border-green {
    border: 1px solid green;
}

.displayFlex {
    display: flex;
}

.displayFlex-column {
    display: flex;
    flex-direction: column;
}

.vertical-writing-rl {
    writing-mode: vertical-rl;
}

.button-basic {
    background-color: rgb(137, 218, 137);
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.button-basic:hover {
    background-color: rgb(148, 255, 148);
    box-shadow: 0px 0px 2px 2px rgb(137, 218, 137);
}

.button-basic-selected {
    background-color: rgb(148, 255, 148);
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
