.component-page-header-container {
  border: 1px solid black;
  width: 100vw;
  height: 70px;
  overflow: hidden;
  position: relative;
}

.component-page-header-title {
  font-size: xx-large;
  font-weight: 900;
  margin: 10px;
  position: absolute;
  top: 0px;
}

.component-page-background-image {
  width: 100%;
  position: relative;
}
