.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    /* background-image: url("../assets/Images/ShinanaBackGrounColor.jpg"); */
    /* background-size: cover; */
    /* background-position: center; */
    /* height: 100%; */
    /* width: 100%; */
    /* position: absolute; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}


.login-logo {
  width: 150px;
  height: 90px;
  margin-left: 15px;
}

.login-logo-container {
    display: flex;
    justify-content: center;
    width: 40vw;
    background: var(--shinanoMain);
    border: 5px solid var(--shinanoMain);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    border: 5px solid var(--shinanoMain);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.login-form-header {
    display: flex;
    justify-content: left;
    width: 38vw;
}

.login-form-input-contianer {
    display: flex;
    flex-direction: column;
    width: 38vw;
    margin-bottom: 10px;
}

.login-page-button {
    width: 38vw;
    height: 25px;
    margin-bottom: 10px;
}

.login-page-last-input-margin {
    margin-bottom: 25px;
}

.login-page-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.login-page-signup-text{
    color: gray;
}

.login-page-signup-button {
    background: white;
    border: none;
    color: var(--shinanoMain);
    border-radius: 10px;
    height: 25px;
  }
  .login-page-signup-button:hover {
    background: var(--shinanoMain);
    color: white;
    border-radius: 10px;
  }
