.study-card-question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid green;
    width: 500px;
    height: 200px;
}

.study-card-question-buttons-container {
    display: flex;
    justify-content: space-around;
    width: 70px;
}

.study-card-question-edit-icon {
    display: flex;
    /* border: 1px solid black; */
    border-radius: 100%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.study-card-question-edit-icon:hover {
    background-color: aqua;
}
