.nav-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgray;
  background-color: rgba(128, 128, 128, 0.123);
  height: 50px;
}

.nav-bar-links-container {
  display: flex;
}

.nav-bar-links {
  color: rgb(153, 153, 153);
  margin: 10px;

  cursor: pointer;
}
.nav-bar-links:hover {
  color: rgb(56, 56, 56);
}

.nav-user-button {
  position: absolute;
  right: 10px;
}

.nav-profile-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(153, 153, 153);
  color: rgb(153, 153, 153);
  border-radius: 50px;
  width: 24px;
  height: 24px;

  cursor: pointer;
}
.nav-profile-button-container:hover {
  border: 2px solid green;
  color: green;
}

.nav-bar-dropwdown-container {
  position: fixed;
  z-index: 100;

  top: 70px;
  right: 0px;

  width: 100px;

  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
