.nav-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgray;
  background-color: var(--navBarMain);
  height: 50px;
}

.nav-bar-links-container {
  display: flex;
}

.nav-bar-links {
  color: var(--navBarHover);
  margin: 10px;

  cursor: pointer;
}
.nav-bar-links:hover {
  color: var(--navBarMain);
}

.nav-user-button {
  position: absolute;
  right: 10px;
}

.nav-profile-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--navBarHover);
  color: var(--navBarHover);
  border-radius: 50px;
  width: 24px;
  height: 24px;

  cursor: pointer;
}
.nav-profile-button-container:hover {
  border: 2px solid green;
  color: green;
}

.nav-bar-dropwdown-container {
  position: fixed;
  z-index: 100;

  top: 51px;
  right: 0px;

  width: 100px;

  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 15px;
  background-color: white;

  padding: 10px;

}
