.karuta-card-container {
    border: 1px solid green;
    height: 200px;
    width: 150px;
}

.karuta-card-container-large {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    height: 300px;
    width: 200px;
}
