.deck-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deck-page-title-container {
    width: 1000px;
}

.deck-page-title {
    font-size: xx-large;
    font-weight: 900;
    width: max-content;
}

.deck-page-deck-edit-buttons-container {
    display: flex;
    justify-content: flex-end;
    /* width: max-content; */
}

.deck-page-edit-buttons-margin {
    margin-left: 5px;
}

.deck-page-general-buttons {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    border: 1px solid black;
}
