.open-modal-add-card-to-deck {
    overflow: auto;
    border: 10px solid green;
    height: 90vh;
    width: 90vw;
}

.add-card-to-deck-cards-container {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
}
