.header {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.header__text {
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar__list {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    width: 700px;
    justify-content: space-around;
    padding-top:10px;
    border-top: 1px solid black;
}

.description1 {
    margin-top: 25px;
}

.description1__header {
    margin-left: 100px;
}

.description1__text {
    margin-left: 100px;
}

.description2 {
    margin-top: 50px;
}

.description2__header {
    margin-left: 100px;
}

.description2__text {
    margin-left: 100px;
}
