.poems-page-poems-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poems-page-poem-margin {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.poems-page-nav-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.poems-page-nav-buttons {
    margin: 5px;
}

.poems-page-toggle {
    margin-bottom: 15px;
}
