.poems-page-poems-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poems-page-poem-margin {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.poems-page-nav-buttons-container {
    display: flex;
    justify-content: center;
}

.poems-page-nav-buttons {
    margin: 5px;
}
