.open-modal-edit-card-container {
    width: 500px;
    height: 500px;

    display: flex;
    justify-content: center;
}

.open-modal-edit-question-text-container {
    width: 400px;
    max-width: 400px;
    max-height: 50px;
}

.open-modal-answers-title-container {
    border-bottom: 1px solid black;
}

.open-modal-answer-short-title-container {
    border: 2px solid black;
}

.open-modal-answer-long-title-container {
    border: 2px solid blue;
}
