.open-modal-edit-card-container {
    width: 550px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.open-modal-edit-question-text-container {
    width: 400px;
    max-width: 400px;
    height: 50px;
    max-height: 50px;
}

.open-modal-answers-title-container {
    border-bottom: 1px solid black;
}

.open-modal-answer-short-title-container {
    /* border: 2px solid black; */
    background-color: rgba(122, 240, 122, 0.801);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    padding: 10px;
}

.open-modal-answer-long-title-container {
    /* border: 2px solid blue; */
    background-color: rgba(122, 240, 122, 0.801);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 10px;
}

.open-modal-edit-card-short-long-answer-text-container {
    width: 400px;
    max-width: 400px;
    height: 200px;
    max-height: 200px;
}
